/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 22, 2020, 2:56:23 PM
    Author     : Reckon
*/
header, section, footer, aside, article, nav, figure
{
    display: block;
}

*
{
    margin: 0;
    padding: 0;
}

body
{
    color: #666666;
    background-color: #c6cbcf;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    margin: 0px;
}

#container
{
    border: 1px solid white;
    display: block;
    width: 80%;
    margin: 0px auto 0px auto;
    position: relative;
    background-color: white;
}

#header
{
    display: block;
    background-color: #bacfc7;
    color: rgb(95, 92, 85);
    width: 100%;
}
#logo
{
    float:left;
    height: 50px;
    margin-top: 5px;
    background-color: #05acff;
}

#logoimg
{
    border-radius: 5em;
}

#logocaption{
    float:left;
    margin-top: 1%;
    padding-left: 0.3em;
    color: white;
}
#nav a:hover
{
    color: #034754;
    text-decoration: none;
}

#nav a:active
{
    color: #06275c;
    text-decoration: none;
}

#nav
{
    clear: both;
    background-color: #05acff;
    text-align: right;
    margin-top: 0;
    line-height: 2.5em;
    padding-left: 0.5em;
}

#nav a
{
    letter-spacing: 0.2em;
    word-spacing: 0.1em;
    text-decoration: none;
    font-size: 1.2em;
    color:#fae9e8;
    
}
ul
{
    padding: 5px;
    
}

nav li
{
    display: inline-block;
    list-style: none;  
    padding: 5px;
    text-transform: capitalize;
}

#fhead
{
    width: 20%;
    display: block;
    height: 5%;
    z-index:1;
    margin-left: 33%;
    margin-top: 32%;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid #402404;
    position: absolute;
    padding-top: 5px;
    text-align: center;
    border-radius: 2em;
}

#section
{
    background-color: white;
    width: 100%;
}

#regHeader
{
    margin-top: 50px;
}

#form_f
{
    margin-top: 70px;
    width: 40%;
    display: block;
    margin-left: 30%;
    background-color: white;
    border-radius: 2em;
}

#nameField
{
    width: 100%;
    margin-top: 5%;
}
#msgName
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}
#surnameField
{
    width: 100%;
    margin-top: 5%;
}
#msgSurname
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}
#usernameField
{
    width: 100%;
    margin-top: 5%;
}
#msgUsername
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}
#pwdField
{
    width: 100%;
    margin-top: 5%;
}
#msgPassword
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}

#cpwdField
{
    width: 100%;
    margin-top: 5%;
}
#msgconfirm
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}
#emailField
{
    width: 100%;
    margin-top: 5%;
}
#msgEmail
{
    display: block;
    font-size: 16px; 
    margin-left: 5%;
    margin-bottom: 3%;
}
#register_btn_div
{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#register_btn
{
    -webkit-transition: width 0.3s ease-in-out;
    width: 100px;
    height: 35px;
    margin-top: 20px;
    color:#fae9e8;
    font-weight: bold;
    background-color: #0084ff;
    border-radius: 1em;
    border: none;
    text-transform: capitalize;
    
}

#register_btn:focus
{
    width: 110px;
    height: 40px;
    margin-top: 20px;
    color:#fae9e8;
    font-weight: bold;
    background-color: #0084ff;
    border-radius: 1em;
    border: none;
    text-transform: capitalize;
    margin-left: 5%;
}
label
{
    display: block;
    margin-left: 5%;
}
#form_f input[type=text]
{
    width: 90%;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border: 1px solid #677e8f;
    margin-left: 3%;
    padding: 5px 5px;
    height: 30px;
    padding: 5px 5px;
}

#form_f input[type=password]
{
    width: 90%;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border: 1px solid #677e8f;
    margin-left: 3%;
    padding: 5px 5px;
    height: 30px;
    padding: 5px 5px;
}

.footer
{
    background-color: #515c6e;
    color: white;
    margin-top: 20px;
    padding: 20px 20px;
}